@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    margin: 0;
    min-height: 100vh;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    white-space: nowrap;
}

.logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

ul {
    margin: 0; /* this resets the whole header margin which is our intention - I will set the margins i the header section */
}

/* ----------------------------------- */

.section-1 {
    background-color: #1F2937;
    padding: 130px 100px;
    flex-grow: 1; /* to expand all space and push down the footer */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.left-container {
    max-width: 470px;
    min-width: 470px;
}

.title-1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.subtext-1 {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
    /*max-width: 470px;*/
}

button {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    padding: 10px 30px;
}

.right-container {
    background-color: grey;
    color: white;
    padding: 100px;
    min-width: 270px;
}

.links {
    display: flex;
    gap: 20px;
}

li {
    list-style: none;
    
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* --------------------------- */

.section-2 {
    /*border: solid black;*/
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
}

.title-2 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
/*    border: solid black;*/
    margin-top: 40px;
    margin-bottom: 70px;
    white-space: nowrap;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-bottom: 76px;
}

.image {
    padding: 80px;
    border: solid #3882F6;
    border-width: 5px;
    border-radius: 8px;
    margin-bottom: 5px;
/*    width: 50px; /* Otherwise the placeholder gets narrower, wraps and grows the whole section-2 vertically*/
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 150px;
}

.subtext-2 {
    text-align: center;
    font-size: 16px;
    color: #1F2937;
}

/* ---------------------------- */

.section-3 {
    padding: 180px 100px;
    background-color: #E5E7EB;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
}

.quote {
/*    border: solid black;*/
    color:#1F2937;
    /*display: flex;
    justify-content: center;*/
    margin: auto;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 36px;
    max-width: 800px;
    /*padding: 0px 50px  /* if set to 'width; 800px' -> don't make it grow / shrink */
}

.author {
/*    border: solid black;*/
    margin: auto;
    text-align: right;
    max-width: 800px;
    font-size: 25px;
    font-weight: 900;
}

/* ------------------------------- */

.section-4 {
    display: flex;
    justify-content: center;
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: space-around;
    flex-basis: 800px; /* width of the container before shrinking starts - in this case, I made it wider.*/
    flex-wrap: wrap;
    background-color:#3882F6;
    color: white;
    gap: 100px;
    padding: 50px;
    border-radius: 5px;
    margin: 200px 100px;
    /* min-width: 700px; */
}

.title-4 {
    font-weight: bold;
    font-size: 24px;
}

.button-4 {
    display: flex;
    flex-shrink: 0;
    flex-basis: auto;
}

.button-border {
    border: solid white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 30px;
    width: 180px;
    height: 60px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}